<h1>BURGERS</h1>
<div>
<h2>Burgers that have not been devoured!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}

<li>
    

  {{this.id}} {{this.burger}}
    <button class="burgereat" data-id="{{this.id}}" data-newBurger="{{devoured}}" >
      
     Devour! 
    </button>

  </li>

  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been Devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}

<li>
    {{this.id}} {{this.burger}} 

   

  </li>

 
  {{/if}}
  {{/each}}
</ul>

<h2>Which Burger would you like to Devour?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newBurg">Enter Burger Here:</label>
    <input type="text" id="newBurg" name="burger">
  </div>

  

  <button type="submit">Add Burger</button>
</form>