<div class="jumbotron ">

  <div class="container">



    <p class="lead text-white font-weight-bold">Which Burger would you like to Devour?</p>



    <form class="create-form">


      <div class="form-group">
        <label for="newBurg" class="text-white font-weight-bold">Enter Burger Here:</label>
        <input type="text" id="newBurg" name="burger">
      </div>



      <button type="submit" class="btn btn-warning text-white">Add Burger</button>
    </form>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">




      <div class="card">
        <div class="card-body">




          <p class="text-white font-weight-bold">Burgers that have not been devoured!</p>

          <ul>
            {{#each burgers}}
            {{#unless devoured}}

            <li class="text-white font-weight-bold">

              {{this.burger}}
              <button class="burgereat btn btn-success btn-sm pb-0 pt-0" data-id="{{this.id}}"
                data-newBurger="{{devoured}}">

                Devour!
              </button>

            </li>

            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>


    <div class="col">

      <div class="card">
        <div class="card-body">




          <p class="text-white font-weight-bold">Burgers that have been Devoured!</p>

          <ul>
            {{#each burgers}}
            {{#if devoured}}

            <li class="text-white font-weight-bold">
              {{this.burger}}


              <button class="burgereaten btn btn-danger btn-sm pb-0 pt-0" data-id="{{this.id}}">

                Trash!
              </button>
            </li>

            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>





    </div>
  </div>